#define IDC_STATIC -1

#include "resource.h"
#include "windows.h"

LANGUAGE 4,2

IDD_MAIN DIALOGEX 100,100,225,144
CAPTION "K_Window"
FONT 9,"宋体",0,0,0
LANGUAGE 4,2
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX
BEGIN
  CONTROL "改变标题",ID_CHANGETITLE,"Button",WS_CHILD|WS_VISIBLE|BS_VCENTER|BS_CENTER,114,83,40,15,WS_EX_STATICEDGE
  CONTROL "",IDE_HWND,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,41,43,44,12,WS_EX_CLIENTEDGE
  CONTROL "",IDE_ID,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,41,56,44,12,WS_EX_CLIENTEDGE
  CONTROL "",IDE_TITLE,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,41,69,112,12,WS_EX_CLIENTEDGE
  CONTROL "",IDE_CLASS,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,41,83,71,12,WS_EX_CLIENTEDGE
  CONTROL "",IDE_MOUSEPOS,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,91,51,60,12,WS_EX_CLIENTEDGE
  CONTROL "销毁窗体",ID_KILL,"Button",WS_CHILD|WS_VISIBLE,174,5,47,15,WS_EX_STATICEDGE
  CONTROL "窗口位置大小",IDF_WNDRECT,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,3,97,119,42
  CONTROL "",IDE_LEFT,"Edit",WS_CHILD|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,22,109,26,12
  CONTROL "",IDE_TOP,"Edit",WS_CHILD|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,65,109,26,12
  CONTROL "",IDE_WIDTH,"Edit",WS_CHILD|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,22,123,26,12
  CONTROL "",IDE_HEIGHT,"Edit",WS_CHILD|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,65,123,26,12
  CONTROL "改变",ID_CHANGERECT,"Button",WS_CHILD|WS_VISIBLE,94,108,24,14,WS_EX_STATICEDGE
  CONTROL "寻找窗口",IDF_AIM,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,3,1,40,34
  CONTROL "关于",ID_ABOUT,"Button",WS_CHILD|WS_VISIBLE,171,117,26,15,WS_EX_STATICEDGE
  CONTROL "窗口句柄",IDS_HWND,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,5,45,35,9
  CONTROL "窗口标识",IDS_WNDID,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,5,59,35,9
  CONTROL "窗口标题",IDS_WNDTITLE,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,5,72,34,9
  CONTROL "窗口类名",IDS_WNDCLASS,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,5,85,32,9
  CONTROL "鼠标位置",IDF_MOUSEPOS,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,88,40,66,28
  CONTROL "左：",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,111,14,10
  CONTROL "上：",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,50,111,13,8
  CONTROL "宽：",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,125,13,10
  CONTROL "高：",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,50,125,14,9
  CONTROL IDI_TARGET,ID_AIM,"Static",WS_CHILD|WS_VISIBLE|SS_NOTIFY|SS_ICON,12,11,20,20
  CONTROL "到系统托盘",ID_TOTRAY,"Button",WS_CHILD|WS_VISIBLE|BS_VCENTER|BS_CENTER,171,101,50,15,WS_EX_STATICEDGE
  CONTROL "列出子窗口",ID_LISTCHILD,"Button",WS_CHILD|WS_VISIBLE,158,66,55,15,WS_EX_STATICEDGE
  CONTROL "恢复",ID_RECOVERRECT,"Button",WS_CHILD|WS_VISIBLE,94,122,24,14,WS_EX_STATICEDGE
  CONTROL "可见性",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,43,1,42,34
  CONTROL "最顶端",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,85,1,50,34
  CONTROL "可见",IDR_VISIBLE,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|BS_AUTORADIOBUTTON,46,12,38,8
  CONTROL "不可见",IDR_INVISIBLE,"Button",WS_CHILD|WS_VISIBLE|BS_AUTORADIOBUTTON,46,24,37,9
  CONTROL "最顶端",IDR_TOPMOST,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|BS_AUTORADIOBUTTON,88,12,42,10
  CONTROL "非最顶端",IDR_NOTOPMOST,"Button",WS_CHILD|WS_VISIBLE|BS_AUTORADIOBUTTON,88,24,44,8
  CONTROL "有效性",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,137,1,36,34
  CONTROL "有效",IDR_ENABLED,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|BS_AUTORADIOBUTTON,139,12,29,11
  CONTROL "无效",IDR_DISABLED,"Button",WS_CHILD|WS_VISIBLE|BS_AUTORADIOBUTTON,139,24,29,8
  CONTROL "列出所有窗口",ID_LISTTOP,"Button",WS_CHILD|WS_VISIBLE,158,49,55,15,WS_EX_STATICEDGE
  CONTROL "列出窗口",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,155,40,66,56
  CONTROL "仅列隐藏窗口",IDC_SHOWHIDDENONLY,"Button",WS_CHILD|WS_VISIBLE|BS_AUTOCHECKBOX,158,83,62,9
  CONTROL "选项设置",ID_OPTION,"Button",WS_CHILD|WS_VISIBLE,124,101,47,15,WS_EX_STATICEDGE
  CONTROL "刷新显示",ID_REFRESH,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,124,117,47,15,WS_EX_STATICEDGE
END

IDD_ABOUT DIALOGEX 30,30,123,105
FONT 9,"宋体",0,0,0
LANGUAGE 4,2
STYLE WS_POPUP|WS_VISIBLE|DS_MODALFRAME
EXSTYLE WS_EX_CLIENTEDGE
BEGIN
  CONTROL "确定",IDOK,"Button",WS_CHILD|WS_VISIBLE,43,79,35,20,WS_EX_STATICEDGE|WS_EX_TRANSPARENT
  CONTROL "\nK_window\n\n作者:草原猎豹\nMail:superxwx@21cn.com",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|SS_CENTER,11,6,99,66,WS_EX_STATICEDGE
END

IDD_OPTION DIALOGEX 30,30,118,81
CAPTION "选项"
FONT 9,"宋体",0,0,0
LANGUAGE 4,2
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME
BEGIN
  CONTROL "确定",ID_OPTIONOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,10,53,36,14,WS_EX_STATICEDGE
  CONTROL "取消",ID_OPTIONCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,58,53,36,14,WS_EX_STATICEDGE
  CONTROL "窗口始终在顶部",IDC_OPTIONONTOP,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,10,6,74,10
  CONTROL "启动时显示窗口列表",IDC_SHOWTARGETLIST,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,10,20,88,10
  CONTROL "启动时显示子窗口列表",IDC_SHOWCHILDLIST,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,10,34,100,10
END

IDI_MAIN ICON DISCARDABLE "icon1.ico"
IDI_TARGET ICON DISCARDABLE "target.ico"
IDI_TRAY ICON DISCARDABLE "tray.ico"
IDC_AIMMING CURSOR DISCARDABLE "target.cur"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00040004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404B0"
    BEGIN
      VALUE "Comments", "Hello!\0"
      VALUE "CompanyName", "At Home\0"
      VALUE "FileDescription", "k_window\0"
      VALUE "FileVersion", "1.00\0"
      VALUE "InternalName", "c_k_window\0"
      VALUE "LegalCopyright", "草原猎豹\0"
      VALUE "OriginalFilename", "k_window.exe\0"
      VALUE "ProductName", "k_window\0"
      VALUE "ProductVersion", "1.00\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 0x04B0
  END
END

